SPOTIFY_REDIRECT_URI=http://127.0.0.1:5173/auth/callback
ALLOWED_ORIGIN=http://127.0.0.1:5173
DB_HOST=aws-0-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.[PROJECT-REF]
DB_PASSWORD=
DB_NAME=postgres
BIND_ADDR=0.0.0.0:3000
RUST_LOG=info
